version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: online_cinema
      MYSQL_USER: cinema
      MYSQL_PASSWORD: cinema
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      # - ./database/tables:/docker-entrypoint-initdb.d

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    volumes:
      - ./movies:/movies

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    # volumes:
    #   - ./movies:/movies
    depends_on:
      - frontend
      - backend

volumes:
  mysql_data:
