.movies-grid {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-card {
    background-color: var(--bg-surface);
    border-radius: var(--radius);
    overflow: hidden;
    transition: var(--transition);
}

.movie-card:hover {
    transform: scale(1.03);
    background-color: var(--bg-hover);
}

.movie-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.movie-card-content {
    padding: 12px;
}

.movie-title {
    font-size: 16px;
    font-weight: bold;
}
