:root {
    --bg-main: #0f0f0f;
    --bg-surface: #1c1c1c;
    --bg-hover: #2a2a2a;

    --color-primary: #e50914;
    --color-text: #ffffff;
    --color-muted: #aaaaaa;

    --radius: 8px;
    --transition: 0.2s ease-in-out;
}
